{% extends 'base.html.twig' %}

{% block title %}
{{ title }}
{% endblock %}

{% block body %}
<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>Title</th>
				<th>Price</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
		    {% for product in products %}
			<tr>
				<td>{{ product.id }}</td>
				<td>{{ product.name }}</td>
				<td>{{ product.price }}</td>
				<td>
					<a href="" class="btn btn-primary">Edit</a>
					<a href="" class="btn btn-danger">Delete</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
